// tabs
@media (max-width: 991px) {
  section {
    margin-left: 0 !important;
  }
}
.reportsContainer {
  margin-left: 250px;
  background: #f3f3f3;
  min-height: 100vh;
  .reportHeadder {
    .reportHeadding {
      color: #000;
      font-feature-settings: "clig" off, "liga" off;
      //   font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
      line-height: 20px; /* 83.333% */
      letter-spacing: 0.15px;
      margin-bottom: 8px;
    }
    .headActionContainer {
      display: block;
      .headActionWrap {
        display: flex;
        .headButton {
          border: none !important;
          margin-right: 15px;
          margin-top: 8px;
          border-radius: 5px;
          background: #fff;
          padding: 10px;
          text-align: left;
        }
        .active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}

.mr-b {
  margin-bottom: 8px;
}
