<!-- <div class="sideNavContainer">
  <div class="navHeader text-center">
    <img src="../../../../../assets/images/side-nav-logo.svg" alt="logo" />
  </div>
  <div class="navMenuContainer">
    <div>
      <div class="navSection">
        <h4 class="sectionHead">IMPORTANT</h4>
        <div class="sectionMenu">
          <p
            class="sectionMenuItem"
            routerLink="/overview"
            routerLinkActive="selected"
          >
            Overview
          </p>
          <p
            class="sectionMenuItem"
            routerLink="/report"
            routerLinkActive="selected"
          >
            Reports
          </p>
        </div>
      </div>
      <div class="navSection">
        <h4 class="sectionHead">USERS</h4>
        <div class="sectionMenu">
          <p
            class="sectionMenuItem"
            routerLink="/customer"
            routerLinkActive="selected"
          >
            Customers
          </p>
          <p class="sectionMenuItem">Artists</p>
        </div>
      </div>
      <div class="navSection">
        <h4 class="sectionHead">WORK</h4>
        <div class="sectionMenu">
          <p class="sectionMenuItem">Jobs</p>
          <p class="sectionMenuItem">Roles</p>
          <p class="sectionMenuItem">Filters</p>
          <p class="sectionMenuItem">Transcations</p>
        </div>
      </div>
      <div class="navSection">
        <h4 class="sectionHead">SOCIAL MEDIA</h4>
        <div class="sectionMenu">
          <p class="sectionMenuItem">Posts</p>
          <p class="sectionMenuItem">Roles</p>
          <p class="sectionMenuItem">Tags</p>
          <p class="sectionMenuItem">Ads</p>
        </div>
      </div>
    </div>
  </div>
  <div class="buttonContainer">
    <button class="sectionButton selected" (click)="logout()">Logout ></button>
  </div>
</div> -->
<nav
  class="navbar navbar-vertical navbar-expand-lg navbar-dark bg-red pb-md-0 font-poppins"
  id="sidenav-main"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      aria-controls="sidenav-collapse-main"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand py-0 pb-md-3">
      <img
        class="navbar-brand-img"
        src="../../../../../assets/images/side-nav-logo.svg"
        alt="logo"
      />
    </span>
    <div
      class="collapse navbar-collapse bg-white pb-0 pt-2"
      id="sidenav-collapse-main"
      [ngbCollapse]="isCollapsed"
    >
      <div class="navbar-collapse-header d-md-none pb-2">
        <div class="row align-items-center">
          <div class="col-6 collapse-brand">
            <img src="../../../../../assets/images/logo-pink.svg" />
          </div>
          <div class="col-6 collapse-close">
            <button
              type="button"
              class="navbar-toggler"
              (click)="isCollapsed = !isCollapsed"
            >
              <img
                src="../../../../../assets/images/close.svg"
                style="transform: none !important"
              />
            </button>
          </div>
        </div>
      </div>
      <h6
        class="navbar-heading category-heading text-dark mb-0 px-3 mx--3 bg-secondary pe-none"
      >
        IMPORTANT
      </h6>
      <ul class="navbar-nav mb-md-1">
        <li class="nav-item">
          <a
            class="nav-link ml-3 py-2 text-dark inside-heading"
            routerLink="/overview"
            routerLinkActive="selected"
            >Overview</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link mx-3 py-2 text-dark inside-heading"
            routerLink="/report"
            routerLinkActive="selected"
            >Reports</a
          >
        </li>
      </ul>
      <h6
        class="navbar-heading category-heading text-dark mb-0 px-3 mx--3 bg-secondary"
      >
        USERS
      </h6>
      <ul class="navbar-nav mb-md-1">
        <li class="nav-item">
          <a
            class="nav-link mx-3 py-2 text-dark inside-heading cursor-pointer"
            routerLink="/customer"
            routerLinkActive="selected"
            >Customers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link ml-3 py-2 text-dark inside-heading"
            routerLink="/artist"
            routerLinkActive="selected"
            >Artists</a
          >
        </li>
      </ul>
      <h6
        class="navbar-heading category-heading text-dark mb-0 px-3 mx--3 bg-secondary"
      >
        WORK
      </h6>
      <ul class="navbar-nav mb-md-1">
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark inside-heading">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Filters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Transcations</a>
        </li>
      </ul>
      <h6
        class="navbar-heading category-heading text-dark mb-0 px-3 mx--3 bg-secondary"
      >
        SOCIAL MEDIA
      </h6>
      <ul class="navbar-nav mb-md-1">
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3 py-2 text-dark">Ads</a>
        </li>
      </ul>
      <h6
        class="navbar-heading category-heading text-dark mb-0 px-3 mx--3 bg-secondary"
      ></h6>
      <ul class="navbar-nav mb-md-1">
        <li class="nav-item cursor-pointer" (click)="logout()">
          <a class="nav-link mx-3 py-2 text-dark">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
